<!DOCTYPE html>
<html lang="en" class="bg_other">
<head>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Question Comment</title>
</head>
<body>
        <table class="site_header">
            <tr class="site_header_menu">
                <td>
                    <a href="/"><img class="site_logo" src="{{url_for('static', filename='logo_outline.png')}}" alt="logo"></a>
                </td>
                <td>
                    <b><a href="/about">About</a></b>
                </td>
                <td>
                    <b><a href="/list">Questions</a></b>
                </td>
                <td>
                    <b><a href="/contact">Contact Us</a></b>
                </td>
                <td>
                    <b><a href="/users">Our Users</a></b>
                </td>
            <td>
                <a href="/tags">Tags</a>
            </td>

                <td>
                    <form action="/like">
                        <button type="submit" class="like_button">Like</button>  {% block likes %}<b>{{ likes }}</b>{% endblock %}
                    </form>
                </td>
            </tr>
        </table>
    <form action="/save_comment/{{question_id}}/{{ user_id }}" method="POST">
        <textarea id="comments_question" name="comments_question"></textarea>
        <input type="submit" value="Send" id="send_button">
    </form>
    
</body>
</html>