<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <title>User Profile Page</title>
<style>
    .content{
        text-align: center;
    }
</style>
</head>
<body>
           <table class="site_header">
            <tr class="site_header_menu">
                <td>
                    <a href="/"><img class="site_logo" src="{{url_for('static', filename='logo_outline.png')}}" alt="logo"></a>
                </td>
                <td>
                    <b><a href="/about">About</a></b>
                </td>
                <td>
                    <b><a href="/list">Questions</a></b>
                </td>
                <td>
                    <b><a href="/contact">Contact Us</a></b>
                </td>
                <td>
                    <b><a href="/users">Users List</a></b>
                </td>
                <td>
                    <form action="/like">
                        <button type="submit" class="like_button">Like</button>  <b>{{ likes }}</b>
                    </form>
                </td>
            </tr>
        </table>
           <hr>
           <div class="content">
           <br>
            <h3>User Profile Details</h3>
            <br>
                {% for data in users %}
                    {% if id == data[0]   %}
                    <p>User id: {{ data[0] }} </p>
                    <p>Username: {{ data[1] }} </p>
                        {% set time= data[5]|string %}
                    <p>Registration Date: {{ time[:16] }} </p>
                    <p>Number of asked questions: {{ data[6] }} </p>
                    <p>Number of answers: {{ data[7] }} </p>
                    <p>Number of comments: {{ data[8] }} </p>
                    <p>Reputation: {{ data[4] }} </p>
                    {% endif %}
                {% endfor %}</div>



</body>
</html>