<!DOCTYPE html>
<html lang="en" class="bg_other">
<head>
        <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users List</title>
</head>
<body>
      <table class="site_header">
            <tr class="site_header_menu">
                <td>
                    <a href="/"><img class="site_logo" src="{{url_for('static', filename='logo_outline.png')}}" alt="logo"></a>
                </td>
                <td>
                    <b><a href="/about">About</a></b>
                </td>
                <td>
                    <b><a href="/list">Questions</a></b>
                </td>
                <td>
                    <b><a href="/contact">Contact Us</a></b>
                </td>
                <td>
                    <b><a href="/">Main Page</a></b>
                </td>
                <td>
                    <b><a href="/tags">Tags</a></b>
                </td>
                     <td>
                    <form action="/like">
                        <button type="submit" class="like_button">Like</button>  <b>{{ likes }}</b>
                    </form>
                </td>
            </tr>
      </table>
      <table class="signup">
        {% if logged_in  %}
        <tr>
            <td><p><b><a href="{{url_for('user',user_id=user_id)}}">{{username}}</a> / <a href="/logout">Logout</a></b></p></td>
        </tr>
        {% else %}
        <tr>
            <td>
                <b><a href="/registration">Sign Up</a>/<a href="/login">Sign In</a></b>
            </td>
        </tr>
        {% endif %}
    </table>

                  <hr>
          <br>
      <br>
      <h1>Our Users</h1>
      <br>
      <hr>
      <br>
        {% if not logged_in %}
        <p>You have no permission, please <a href="/login">log in!</a></p>
      {% elif logged_in %}
            <table style="width: 100%;">
            <tr>
                <th>
                    <p>username</p>
                </th>
                   <th>
                    <p>Registration Date</p>
                </th>
                   <th>
                    <p>Asked Questions</p>
                </th>
                   <th>
                    <p>Count of Answers</p>
                </th>
                   <th>
                    <p>Count of Comments</p>
                </th>
                   <th>
                   <p>Reputation</p> 
                </th>
            </tr>
        <tr>
            {% for data in users %}
                    <td>
                        <a href="/user/{{ data[0] }}">{{ data[1] }}</a>
                    </td>
                <td>
                     {% set time=data[5]|string %}
                  <p>{{ time[:16] }}</p>  
                    </td>
                   <td>
                   <p>{{ data[6] }}</p> 
                    </td>
                   <td>
                    <p>{{ data[7] }}</p>
                    </td>
                   <td>
                    <p>{{ data[8] }}</p>
                    </td>
                   <td>
                    <p>{{ data[4] }}</p>
                    </td>
                </tr>
                {% endfor %}


                </table>
        {% endif %}


</body>
</html>

